<div class="nav">
	<div class="nav_item btn">
		<a href="#examples" class="nav_item btn"><%=lang.nav.examples%></a>
	</div>
	<div class="nav_item btn">
		<a href="#usage" class="nav_item btn"><%=lang.nav.usage%></a>
	</div>
	<div class="nav_item btn">
		<a href="#license" class="nav_item btn"><%=lang.nav.license%></a>
	</div>
</div>
<div class="ctn">
	<h1 class="center"><%=lang.nav.title%></h1>
	<p class="center"><%=lang.des%></p>

	<h4 id="examples"><%=lang.nav.examples%></h4>
	<div class="row">
		<div class="section">
			<%locals.list && list.forEach(function (url, i) {%>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="img" data-id="<%=i%>" style="background-image: url(<%-url%>)"></div>
				</div>
			<%})%>
		</div>
	</div>

	<h4 id="usage"><%=lang.nav.usage%></h4>
	<div class="markdown"><%-lang.usage%></div>

	<h4 id="license"><%=lang.nav.license%></h4>
	<div class="row">
		MIT
	</div>
</div>