<div class="nav">
	<div class="nav_item btn">
		<a href="#demo" class="nav_item btn"><%=lang.nav.demo%></a>
	</div>
	<div class="nav_item btn">
		<a href="#usage" class="nav_item btn"><%=lang.nav.usage%></a>
	</div>
	<div class="nav_item btn">
		<a href="#license" class="nav_item btn"><%=lang.nav.license%></a>
	</div>
</div>
<div class="ctn">
	<div style="text-align: left; padding-top: 50px; font-weight: 400">
		<%if (langType === 'en') {%>
			<a href="index.html">中文</a>
		<%} else {%>
			<a href="en.html">English</a>
		<%}%>
	</div>
	<h1 class="center"><%=lang.nav.title%></h1>
	<p class="center"><%=lang.des%></p>

	<h4 id="demo"><%=lang.nav.demo%></h4>
	<div class="row">
		<div class="section">
			<%locals.list && list.forEach(function (url, i) {%>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="img" data-id="<%=i%>" style="background-image: url(<%-url%>)"></div>
				</div>
			<%})%>
		</div>
	</div>

	<h4 id="usage"><%=lang.nav.usage%></h4>
	<div class="markdown"><%-lang.usage%></div>

	<h4 id="license"><%=lang.nav.license%></h4>
	<div class="row">
		MIT
	</div>
</div>