<div class="nav">
	<div class="nav_item btn">
		<a href="#examples" class="nav_item btn"><%=lang.nav.examples%></a>
	</div>
	<div class="nav_item btn">
		<a href="#usage" class="nav_item btn"><%=lang.nav.usage%></a>
	</div>
	<div class="nav_item btn">
		<a href="#license" class="nav_item btn"><%=lang.nav.license%></a>
	</div>
</div>
<div class="ctn">
	<h1 class="center"><%=lang.nav.title%></h1>
	<p class="center"><%=lang.des%></p>

	<h4 id="examples"><%=lang.nav.examples%></h4>
	<div class="row">
		<div class="section">
			<div class="col-3">
				<div class="img">
					<img src="https://flfwzgl.github.io/static/park.jpg">
				</div>
				<div class="img">
					<img src="https://flfwzgl.github.io/static/qianshuiwan.jpg">
				</div>
				<div class="img">
					<img src="https://flfwzgl.github.io/static/seaworld.jpg">
				</div>
			</div>
			<div class="col-3">
				<div class="img">
					<img src="https://flfwzgl.github.io/static/park2.jpg">
				</div>
				<div class="img">
					<img src="https://flfwzgl.github.io/static/dujiangyan.jpg">
				</div>
				<div class="img">
					<img src="https://flfwzgl.github.io/static/bridge.jpg">
				</div>
			</div>
			<div class="col-3">
				<div class="img">
					<img src="https://flfwzgl.github.io/static/mushroom.jpg">
				</div>
				<div class="img">
					<img src="https://flfwzgl.github.io/static/shenzhen.jpg">
				</div>
				<div class="img">
					<img src="https://flfwzgl.github.io/static/up.jpg">
				</div>
				<div class="img">
					<img src="https://flfwzgl.github.io/static/iphone.jpg">
				</div>
			</div>
			<div class="col-3">
				<div class="img">
					<img src="https://flfwzgl.github.io/static/wutongshan.jpg">
				</div>
				<div class="img">
					<img src="https://flfwzgl.github.io/static/snail.jpg">
				</div>
				<div class="img">
					<img src="https://flfwzgl.github.io/static/shenzhen2.jpg">
				</div>
			</div>
		</div>
	</div>

	<h4 id="usage"><%=lang.nav.usage%></h4>
	<div class="markdown"><%=lang.usage%></div>

	<h4 id="license"><%=lang.nav.license%></h4>
	<div class="row">
		MIT
	</div>
</div>